<form action="/cart" method="post">
    <button class="btn" type="submit">Add to Cart</button>
    <!-- by this we can send the data in req body rather than from url -->
    <input type = 'hidden' name = 'productId' value = '<%= product.id %>'/>
</form>